
.logo img{
    width: 55px;
    border-radius: 30px;
    padding: 10px;
    float: left;
}
.reg{
    margin-left:20px;
    margin-right: 150px;
    text-align: right;
    float: right;
    padding: 10px;
}
.sign{
  
    text-align: right;
    
    padding: 10px;
}