
.logo img{
    width: 55px;
    border-radius: 30px;
    padding: 10px;
    float: left;
}
.reg{
    margin-left:20px;
    margin-right: 20px;
    text-align: right;
    float: right;
    padding: 10px;
    color: rgb(198, 240, 159);
}
.sign{
  
    text-align: right;
    color: rgb(198, 240, 159);
    padding: 10px;
}
.photo{
    margin-right: 100px;
  
    
    float: right;
    
}